@media screen and (max-width:1085px) {
    footer {
        flex-direction: column;
        height: 100%;
    }
    main{
        height: calc(100% - 309px);
    }
    .footer-left {
        padding: 20px 0px;
        flex-direction: column;
        gap: 10px;
    }
    .song-played-info {
        align-items: center;
    }
    
    .footer-right {
        display: none;
    }
    
    .footer-center-down {
        margin: auto;
    }
    
    .footer-center {
        width: 100%;
    }
    
}
@media screen and (max-width:485px) {
    body main{
        height: calc(100% - 480px);
        padding: 3px;
    }
    .footer-left {
        img {
            width: 50%;
            height: auto;
        }
    }

}
@media screen and (max-width:550px) {
    .footer-center-down {
        width: 100%;
    }

    footer .footer-center .play-bar {
        width: 100%;
    }
}