header {
    height: 64px;

    display: flex;
    justify-content: space-between;

}

.header-left {
    height: 100%;
    width: 74px;

    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 34px;
    filter: invert(1);
}

.header-center {
    width: 30%;
    /* background-color: red; */

    display: flex;
    align-items: center;
    gap: 10px;
}
.home-icon{
    background-color: var(--light-gray);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-radius: 100px;

    transition: 300ms;
    cursor: pointer;
}
.home-icon svg{
    height: 25px;
    width: auto;
}
.search-bar{
    width: 100%;

    padding: 0px 10px 0px;

    background-color: var(--light-gray);

    border: 2px solid transparent;
    border-radius: 100px;

    svg{
        height: 25px;
        fill: rgb(105, 105, 105);
        transition: 300ms;
        cursor: pointer;
    }
    svg:hover{
        fill: rgb(73, 73, 73);
        transform: scale(1.05);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 300ms;
}
.search-bar:hover{
    background-color: var(--light-gray-2);
    svg{
        fill: rgb(73, 73, 73);
    }
    #search-query::placeholder{
        color: gray;
    }
}   
.search-bar:focus{
    border: 2px solid white;
}
#search-query{
    padding: 12px 0px 12px;
    flex-grow: 1;

    background-color: transparent;
    border: none;

    font-size:calc(12px + 0.3vw);
    font-weight: 600;

    caret-color: white;

    width: 100%;
}
#search-query:focus{
    outline: none;
    border: none;
}
.search-bar:has( > input:focus){
    border: 2px soild white;
}
.line{
    border-left: 1px solid gray;
    height: 100%;
    width: 2px;
}
.header-right {
    display: flex;
}

.appealing-buttons {
    display: flex;
    align-items: center;
}

.account-notifications-div {
    display: flex;
    align-items: center;
}











































