/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;

    /* box-sizing: border-box; */
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    box-sizing: border-box;
    height: 100vh;

    background-color: var(--dark);

    font-family: "Plus Jakarta Sans", serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    background-color: #535353;
}
::-webkit-scrollbar-track{
    background-color: #535353;
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark-gray);
    /* border-radius: 20px; */
    /* border: 3px solid #535353; */

    transition: 200ms;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--dark);
}