.btn {
    background-color: transparent;

    padding: 8px 15px;

    border-radius: 100px;
    border: none;

    font-family: "Plus Jakarta Sans", serif;
    font-weight: 800;
    color: white;

    display: flex;
    align-items: center;

    transition: 300ms;
    cursor: pointer;
}

.btn-bold-white {
    background-color: white;
    color: black;
}

.scale-inc-hover:hover {
    transform: scale(1.05);
}

.btn-no-outline-blank {
    background-color: transparent;

    svg {
        height: 20px;
    }
}

.btn-single-svg {
    padding: 0px 5px 0px;
    svg {
        height: 20px;
    }
    

}
.btn-single-svg-footer{
    padding: 0px 2px 0px;
    svg{
        height: 17px;
        fill: var(--dark-gray);

        transition: 300ms;
        cursor: pointer;
    }
    svg:hover{
        fill: black;
    }
}

.btn-library{
    border: none;
    background-color: transparent;
    fill: white;
    transition: 300ms;
    cursor: pointer;

    svg{
        width: 22px;
        fill: rgb(177, 177, 177);
    }

    display: flex;
    gap: 10px;
    p{
        color: rgb(177, 177, 177);
    }
}
.btn-library:hover{
    svg{
        fill: white;
    }
    p{
        color: white;
    }
}
.library-btn-2{
    background-color: rgb(255, 255, 255,0.1);
}


.btn-account {
    padding: 8px;

    background-color: var(--dark-gray);

}

.btn-account img {
    border-radius: 50%;
    height: 35px;
    width: auto;

}