main {
    flex-grow: 1;
    /* background-color: var(--light-gray); */

    padding: 5px 1em 5px;
}
.library{
    width: 20%;
    height: 100%;

    background-color: var(--dark-gray);

    border-radius: 8px;
}